@charset "UTF-8";
/* CSS Document */

html,
html * {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif"
	
}

header {
	padding: 32px;
	
}

img {
	width: 100%;
	max-width: 100%;
	height: auto;
	vertical-align: middle;
	
}

footer {
	padding: 20px 30px;
	background-color:#F5E8DC;
	
}

body {
	margin-left: auto;
	margin-right: auto;
	align-content: center;
}

.style-logo {
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 220px;
	
}

.style-logo-name {
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 291px;
	
}

.style-nav ul {
	
	list-style-type: none;
	
}

.style-nav ul li a {
	text-decoration: none;
	color: #4F5133;
	text-align: center;
	display: block;
	text-transform: uppercase;
	padding: 8px;
		
}


.row:before, .row:after {
	content: "";
	display: table;
}

.row:after {
	clear:both;
}

.magnolia {
	height: 300px;
	background-image: url("images/wood.jpg");
	background-size: cover;
	padding: 20px 20px 50px 20px;
	color: #FFFFFF;
	text-align: center;
	
	
	
	
}

.wood {
	height: 600px;
	background-image: url("images/wood.jpg");
	background-size: cover;
	padding: 20px 20px 50px 20px;
	color: #FFFFFF;
	text-align: center;
	
}

.woodlonger {
	height: 700px;
	background-image: url("images/wood.jpg");
	background-size: cover;
	padding: 20px 20px 50px 20px;
	color: #FFFFFF;
	text-align: center;
	
}
.fblogo {
	height: 56px;
	width: 62px;
	padding: 10px 10px 10px 10px;
	text-align: center;
	
}
.blocktext {
	text-indent: 20px;
	padding: 20px 20px 50px 20px;
	text-align: center;
	
}

h1 {
	font-size: 30px;
	text-transform: uppercase;
	font-weight: 100;
	margin-bottom: 60px;
	
}

h2 {
	font-size: 30px;
	text-transform: uppercase;
	font-weight: 200;
	margin-bottom: 23px;
	text-decoration: none;
	text-decoration-color: white;
	
}

h3 {
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 200;
	margin-bottom: 120px;
	text-decoration-color: white;
	
	
}

h4 {
	font-size: 16px;
	font-weight: 200;
	margin-bottom: 35px;
	
}

a {
  color: white;
}
p {
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 35px;
	
}


.button {
	border: 2px #FFFFFF solid;
	padding: 8px 30px;
	border-radius: 30px;
	color: #FFFFFF;
	text-decoration: none;
	
}

.info-box-tan {
	background-color:#B29075;
	color: #FFFFFF;
	padding: 30px 20px 60px;
	text-align: center;
	
		
}

.info-box-dark {
	background-color:#392C20;
	color: #FFFFFF;
	padding: 30px 20px 60px;
	text-align: center;
	
		
}

.footer-text {
	font-size: 13px;
	margin-bottom: 20px;
	text-align: center;
	
}

.col {
	
	width: 100%
}

.row:after {
	clear: both;
}
/*Tablet View*/

@media (min-width: 768px){
	
	body {
		max-width: 778px;
	}
	.style-nav ul li {
		display: inline-block;
	}
	.style-nav ul {
		text-align: center;
	}
	
	

	h1 {
		font-size: 40px;
		margin-bottom:40px;
	
	}
	
	
	.col-md-one-half {
		width: 50%
	}
	
	.col {
		float: left;
		padding: 0px 7px 14px;
		
	}
}

/*Desktop View*/

@media (min-width: 1024px){
	
	body {
		max-width: 1200px;
	}
	
	.style-logo {
		float: left;
	}
	
	.style-logo-name {
	float: left;
	
}
	.style-nav {
		float: right;
	}
	
	.style-nav ul li {
		display: inline-block;
	}
	
	.blocktext {
	text-indent: 20px;
	padding: 20px 300px 50px 300px;
	text-align: center;
	display:block
		
	
}

	h1 {
		font-size: 40px;
		margin-bottom:40px;
	
	}
	magnolia {
	height: 500px;
	background-image: url("images/wood.jpg");
	background-size: cover;
	padding: 20px 20px 50px 20px;
	color: #FFFFFF;
	text-align: center;
	
	
}

	wood {
	height: 600px;
	background-image: url("images/wood.jpg");
	background-size: cover;
	padding: 20px 20px 50px 20px;
	color: #FFFFFF;
	text-align: center;
	
	
}
	.col-lg-one-fourth {
		width: 25%;
	}
}

